<div class="header">
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="text-container">
          <h1 class="h1-large">Fortnite Stats es una web donde puedes consultar tus estadísticas de Fortnite</h1>
          <p class="p-large">Comprueba tus estadísticas, da igual la plataforma en la que juegues.</p>
          <a class="btn-solid-lg page-scroll" (click)="scrollToElement('statement')">¡Vamos allá!</a>
        </div> <!-- end of text-container -->
      </div> <!-- end of col -->
      <div class="col-lg-6">
        <div class="image-container">
          <img class="img-fluid" src="assets/images/fortnite-logo.svg" alt="alternative">
        </div> <!-- end of image-container -->
      </div> <!-- end of col -->
    </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of header -->
<!-- Statement -->
<div [attr.id]="'statement'" class="basic-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-container align-items-center">

          <div class="justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
              <h3>Ingresa tu nickname</h3>
              <div class="card card-sm">
                <div class="card-body row align-items-center">
                  <div class="col-12">
                    <label>
                      <input [(ngModel)]="userName" (ngModelChange)="userName = $event"
                             class="form-control form-control-lg form-control-borderless" type="search"
                             placeholder="Introduce tu usuario">
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-12 align-content-center mt-2">
                <button [disabled]="userName?.length == 0" (click)="getStats()"
                        class="btn btn-lg btn-success purple-back" type="submit">Buscar
                </button>
              </div>
            </div>
            <!--end of col-->
          </div>
        </div> <!-- end of text-container -->
      </div> <!-- end of col -->
    </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of basic-1 -->
<!-- end of statement -->
<div class="container" *ngIf="stats?.status == 'error'">
  <h3>Lo sentimos, ha habido un error</h3>
</div>
<div class="row">
  <div class="container" *ngIf="stats?.status == 200">
    <div class="row">
      <div class="col-lg-12 align-items-center">
        <h3 class="text-center">
          Solo
        </h3>
        <table>
          <tr>
            <td>Asesinatos</td>
            <td>{{stats.data.stats.all.solo.kills}}</td>
          </tr>
          <tr>
            <td>Muertes</td>
            <td>{{stats.data.stats.all.solo.deaths}}</td>
          </tr>
          <tr>
            <td>Victorias</td>
            <td>{{stats.data.stats.all.solo.wins}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 align-items-center">
        <h3 class="text-center">
          Duo
        </h3>
        <table>
          <tr>
            <td>Asesinatos</td>
            <td>{{stats.data.stats.all.duo.kills}}</td>
          </tr>
          <tr>
            <td>Muertes</td>
            <td>{{stats.data.stats.all.duo.deaths}}</td>
          </tr>
          <tr>
            <td>Victorias</td>
            <td>{{stats.data.stats.all.duo.wins}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 align-items-center">
        <h3 class="text-center">
          Tríos
        </h3>
        <table>
          <tr>
            <td>Asesinatos</td>
            <td>{{stats.data.stats.all.trio.kills}}</td>
          </tr>
          <tr>
            <td>Muertes</td>
            <td>{{stats.data.stats.all.trio.deaths}}</td>
          </tr>
          <tr>
            <td>Victorias</td>
            <td>{{stats.data.stats.all.trio.wins}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 align-items-center">
        <h3 class="text-center">
          Escuadrón
        </h3>
        <table>
          <tr>
            <td>Asesinatos</td>
            <td>{{stats.data.stats.all.squad.kills}}</td>
          </tr>
          <tr>
            <td>Muertes</td>
            <td>{{stats.data.stats.all.squad.deaths}}</td>
          </tr>
          <tr>
            <td>Victorias</td>
            <td>{{stats.data.stats.all.squad.wins}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<div class="footer bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="social-container">
                        <span class="fa-stack">
                            <a href="https://www.twitch.tv/smackcristian">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-twitch fa-stack-1x"></i>
                            </a>
                        </span>
          <span class="fa-stack">
                            <a href="https://github.com/cdominguezg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-github fa-stack-1x"></i>
                            </a>
                        </span>
        </div> <!-- end of social-container -->
      </div> <!-- end of col -->
    </div> <!-- end of row -->
  </div> <!-- end of container -->
</div>



